* {
  margin: 0px;
  padding: 0px;
}

/*====== IMPORT FONTS ======*/
@import url("https://fonts.googleapis.com/css?family=Aclonica");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

/*====== WIDTH ======*/
.sWidth {
  width: 100vw;
}
.fWidth {
  width: 100%;
}
.widthP90 {
  width: 90%;
}
.widthP80 {
  width: 80%;
}
.widthP15 {
  width: 15%;
}

.width10 {
  width: 10px;
}
.width20 {
  width: 20px;
}
.width30 {
  width: 30px;
}
.width40 {
  width: 40px;
}
.width50 {
  width: 50px;
}
.width60 {
  width: 60px;
}
.width80 {
  width: 80px;
}
.width120 {
  width: 120px;
}
.width150 {
  width: 150px;
}
/*====== HEIGHT ======*/
.sHeight {
  height: 100vh;
}
.fHeight {
  height: 100%;
}
.height10 {
  height: 10px;
}
.height20 {
  height: 20px;
}
.height25 {
  height: 25px;
}
.height30 {
  height: 30px;
}
.height40 {
  height: 40px;
}
.height60 {
  height: 60px;
}
.height80 {
  height: 80px;
}
.height90 {
  height: 90px;
}
.height150 {
  height: 150px;
}
.height250 {
  height: 250px;
}
.height300 {
  height: 300px;
}
.heightP15 {
  height: 15%;
}

/*====== PADDING ======*/
.padH40 {
  padding: 0px 40px;
}
.padH20 {
  padding: 0px 20px;
}
.padH15 {
  padding: 0px 15px;
}
.padHP5 {
  padding: 0px 5%;
}
.pad50 {
  padding: 50px;
}
.padT20 {
  padding-top: 20px;
}

/*====== MARGIN ======*/
.marL15 {
  margin-left: 15px;
}
.marLP5 {
  margin-left: 5%;
}
.marT60 {
  margin-top: 60px;
}

/*====== BORDER & BORDER BOX ======*/
.borderTandB {
  border-top: 4px solid #585858;
  border-bottom: 4px solid #585858;
}
.borderBox {
  box-sizing: border-box;
}
.border2DarkGrey {
  border: #585858 solid 2px;
}
.border15Purple {
  border: #9013fe solid 15px;
}
.border3White {
  border: #fff solid 3px;
}
.bRad20 {
  border-radius: 20px;
}
.bRad30 {
  border-radius: 30px;
}
.bRad200 {
  border-radius: 200px;
}

/*====== BACKGROUND COLOR ======*/
/* SOLID COLORS */
.bgPurple {
  background-color: #9013fe;
}
.bgWhite {
  background-color: #fff;
}
.bgGray {
  background-color: #d8d8d8;
}
.bgDarkGray {
  background-color: #585858;
}
/* TRANSLUCENT COLORS */
.bgPurple30 {
  background-color: #9013fe4d;
}
.bgWhite75 {
  background-color: #ffffffbf;
}

/*====== ABSOLUTE POSITIONING ======*/
.absolute {
  position: absolute;
}

/*====== DISPLAY INLINE ======*/

.dInline {
  display: inline;
}

/*====== FLEX LAYOUTS ======*/
.dFlex {
  display: flex;
}
.flexRow {
  flex-direction: row;
}
.flexColumn {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyAround {
  justify-content: space-around;
}
.justifyBetween {
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
/*====== FLEX VALUES ======*/
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
/*====== FONT FAMILY ======*/
.fAclonica {
  font-family: "Aclonica", sans-serif;
}
.fQuicksand {
  font-family: "Quicksand", sans-serif;
}

/*====== FONT SIZES ======*/
.fSize6 {
  font-size: 6rem;
}
.fSize3 {
  font-size: 3rem;
}
.fSize2 {
  font-size: 2rem;
}
.fSize12 {
  font-size: 1.2rem;
}

/*====== FONT WEIGHT ======*/
.fWeight300 {
  font-weight: 300;
}
/*====== FONT COLORS ======*/
.fWhite {
  color: #fff;
}
.fPurple {
  color: #9013fe;
}
.fGray {
  color: #d8d8d8;
}
.fDarkGray {
  color: #585858;
}

/*====== FONT ALIGNMENT ======*/
.tAlignEnd {
  text-align: end;
}
.tAlignCenter {
  text-align: center;
}

/*====== HOVER CLASSES ======*/
.cPointer {
  cursor: pointer;
}
.hoverGreen:hover {
  background-color: #09b247;
  color: #333;
}

/*====== TRANSITION CLASSES ======*/
