<div class="sWidth sHeight">
    <img src="./img/circuit.jpeg" alt="Circuit Connection BG" class="sWidth sHeight absolute">
    <div class="sWidth sHeight absolute bgPurple30"></div>
    <div class="sWidth sHeight absolute dFlex flexRow">
        <div class="flex1 dFlex center padH40 flexColumn">
            <h1 class="fAclonica fSize6 fWhite borderBox">CIRCUIT CONNECTION</h1>
            <div class="fWidth height40"></div>
            <p class="fWidth fWhite fAclonica fSize2">a place for product builders to connect</p>
        </div>
        <div class="flex1 bgWhite75 dFlex center">
            <div ng-include="ctrl.includePath" class="flex1 dFlex center"></div>
        </div>
    </div>
</div>