<div class="fWidth height80 bgWhite dFlex padHP5 borderBox justifyBetween alignCenter zIndex1">
    <img ng-src="../img/circuit_icon.png" alt="" class="width40 height30">
    <div class="dFlex flexRow alignCenter">
        <p class="fSize12 fQuicksand dFlex center">Welcome to the circuit, {{ctrl.currentUser.name}}</p>
        <div class="fHeight width20"></div>
        <div class="width60 height60 bRad30">
            <img ng-src="../img/profile_image.jpg" alt="" class="width60 height60 bRad30" />
        </div>
        <div class="fHeight width20" ></div>
        <img id="show-options-image" ng-src="../img/show-options.png" alt="" class="width30 height20" ng-click="ctrl.logOutHidden()"/>
    </div>
</div>
<div id="hiddenLogOutBox" class="hiddenBox dFlex justifyEnd widthP95 bgTransparent strangePosition">
    <div class="pad10 width100 dFlex center hoverGreen cPointer fWeight500 bgPurple fWhite fQuicksand border15White" ng-click="ctrl.logOut()">LOG OUT</div>
</div>
