<div class="fWidth bgDarkGray padHP5 borderBox dFlex flexColumn">
    <div class="fWidth height80"></div>
    <div class="fWidth height60 dFlex">
        <div class="widthP90 height60 absolute dFlex alignCenter">
            <div class="fWidth height10 bgWhite"></div>
        </div>
        <div class="widthP90 height60 absolute dFlex alignCenter justifyBetween">
            <div class="fHeight width80 dFlex center fSize2 fWhite fAclonica bgDarkGray">01</div>
            <div class="fHeight width80 dFlex center fSize12 fWhite fAclonica bgDarkGray">02</div>
            <div class="fHeight dFlex flexRow">
                <div class="fHeight width80 dFlex center fSize12 fWhite fAclonica bgDarkGray">03</div>
                <div class="fHeight width150"></div>
            </div>
        </div>
    </div>
    <div class="fWidth dFlex flexRow justifyBetween fAclonica fWhite">
        <div class="fSize3">PROFILE</div>
        <div class="fSize2">PORTFOLIO</div>
        <div class="dFlex flexRow">
            <div class="fSize2">CIRCUIT</div>
            <div class="fHeight width120"></div>
        </div>

    </div>
    <div class="fWidth height80"></div>
</div>