<div class="fWidth height250 bgGray dFlex justifyAround">
    <div class="leftColumn center">
        <div class="widthP15 bgWhite fWhite bRad200 border2DarkGrey pad50 marLP5 marT60 center">
            .
        </div>
    </div>
    <div class="rightColumn widthP80">
        <!-- Top Row -->
        <div class="widthP90 dFlex justifyBetween">
            <h2 class="dInline f">Ashwanth A R</h2>
            <div class="">
                <button type="button" name="button">FOLLOW</button>
                <button type="button" name="button">MESSAGE</button>
            </div>
        </div>
        <p>A business minded engineer with the ethos of a product designer.</p>
        <div class="middleRow dFlex justifyAround borderTandB center">
            <div class="">
                <p class="center">236</p>
                <p>FOLLOWERS</p>
            </div>
            <div class="">
                <p class="center">10<br>PROJECTS</p>
            </div>
            <div class="">
                <p class="center">1200</p>
                <p>CIRCUIT POINTS</p>
            </div>
        </div>
        <div class="bgWhite bRad20 height60 ">
            <p class="tAlignCenter padT20 fSize12 fDarkGray">VIEW GITHUB PROFILE</p>
        </div>


    </div>

</div>
