<div class="fWidth height250 bgGray dFlex justifyAround">
    <div class="leftColumn center">
        <div class="widthP15 bgWhite fWhite bRad200 border2DarkGrey pad50 marLP5 marT60 center">
            .
        </div>
    </div>
    <div class="rightColumn widthP80">
        <!-- Top Row -->
        <div class="widthP90 dFlex justifyAround">
            <h2 class="dInline">Ashwanth A R</h2>
            <button type="button" name="button">FOLLOW</button>
            <button type="button" name="button">MESSAGE</button>
        </div>
        <div class="">
            <p>A business minded engineer with the ethos of a product designer.</p>
        </div>


    </div>

</div>
