<div class="fWidth bgWhite padHP5 borderBox dFlex flexColumn fSize2 fQuicksand">
    <div class="height40"></div>
    <div class="dFlex flexRow">
        <div class="flex1 fWeight300 fPurple">Name:</div>
        <div class="flex2 hoverGreen cPointer pad10">CLICK TO ENTER NAME</div>
    </div>
    <div class="height40"></div>
    <div class="dFlex flexRow">
        <div class="flex1 fWeight300 fPurple">Proficiency:</div>
        <div class="flex2 hoverGreen cPointer pad10">CLICK TO ENTER PROFICIENCY</div>
    </div>
    <div class="height40"></div>
    <div class="dFlex flexRow">
        <div class="flex1 fWeight300 fPurple">Skills:</div>
        <div class="flex2 hoverGreen cPointer pad10">CLICK TO ADD SKILLS</div>
    </div>
    <div class="height40"></div>
    <div class="dFlex flexRow">
        <div class="flex1 fWeight300 fPurple">Interests:</div>
        <div class="flex2 hoverGreen cPointer pad10">CLICK TO ADD INTERESTS</div>
    </div>
    <div class="height40"></div>
    <div class="dFlex flexRow">
        <div class="flex1 fWeight300 fPurple">Location:</div>
        <div class="flex2 hoverGreen cPointer pad10">CLICK TO SET LOCATION</div>
    </div>
    <div class="height40"></div>
    <div class="dFlex flexRow"></div>
</div>