<div class="fWidth dFlex flexColumn bgLightPurple">
    <div class="fWidth height40"></div>
    <div class="fWidth dFlex flexRow padHP5 borderBox alignCenter">
        <div class="width160 height160 bRad80 bgGreen dFlex center">
            <img ng-src="{{ctrl.image}}" alt="" class="width150 height150 bRad75 bgWhite" />
        </div>
        <div class="width40"></div>
        <div class="flex1 dFlex flexColumn">
            <div class="dFlex flexRow justifyBetween">
                <div class="fAclonica fSize3 fBlack">{{(ctrl.name==='CLICK HERE TO ADD NAME'?'ENTER NAME
                    ON PROFILE PAGE':ctrl.name)}}</div>
            </div>
            <div class="height20"></div>

            <div class="fQuicksand fSize12 fWeight300">
                {{(ctrl.brandStatement==='CLICK HERE TO ADD BRAND STATEMENT')?'ENTER BRAND STATEMENT ON PROFILE
                PAGE':ctrl.brandStatement}}</div>
            <div class="height20"></div>
            <div class="height5 bgPurple"></div>
            <div class="height20"></div>
            <div class="flexRow dFlex padHP5 justifyBetween">
                <div class="flexColumn alignCenter width200 fQuicksand">
                    <div class="fSize2 tAlignCenter fWeight500">{{ctrl.followers}}</div>
                    <div class="tAlignCenter">FOLLOWERS</div>
                </div>
                <div class="flexColumn alignCenter width200 fQuicksand">
                    <div class="fSize2 tAlignCenter fWeight500">{{ctrl.projects}}</div>
                    <div class="tAlignCenter">PROJECTS</div>
                </div>
                <div class="flexColumn alignCenter width200 fQuicksand">
                    <div class="fSize2 tAlignCenter fWeight500">{{ctrl.circuitPoints}}</div>
                    <div class="tAlignCenter">CIRCUIT POINTS</div>
                </div>
            </div>
            <div class="height20"></div>
            <div class="height5 bgPurple"></div>
            <div class="height20"></div>
            <form action="/github/ctrl.currentUser._id" method="post">
                <div class="bgPurple pad10 dFlex center fQuicksand fWhite bRad10 hoverGreen cPointer fSize12 fWeight500"
                    ng-click="ctrl.getGithubData()">LINK
                    YOUR GITHUB PROFILE</div>
            </form>
        </div>
    </div>
    <div class="fWidth height40"></div>
</div>